.git
.cache
.mypy_cache
.pytest_cache
.tmp
.venv
__pycache__
*.pyc
*.log
*.asv

frontend/node_modules
frontend/dist

output
runs
wandb
.run
.my_boards
.old_log_generator
.old_knot_generator

photorealistic_model_checkpoint
SDXL_model
SD2_model

knot_model_checkpoint/*
!knot_model_checkpoint/knot_sequence_model.pt
!knot_model_checkpoint/knot_sequence_model.json
!knot_model_checkpoint/training_data_new_2025.mat
