output/
*.asv
.DS_Store
Thumbs.db
.venv/
__pycache__/
*.pyc
*.log
.cache/
.pytest_cache/
.mypy_cache/
node_modules/
dist/
photorealistic_model_checkpoint/
knot_model_checkpoint/
SDXL_model/
how_to_run_inference.txt
wood_sd2_concat_joint_accel_wandb.py
SD2_model/
.run/
wandb/
start_services.sh
.old_log_generator/
.my_boards/
runs/
.old_knot_generator/
.tmp/
